extends layout

block layout-content
  div.View.WelcomeView
    h1.Banner DoThisInstead
    div.Message
      div.Title
        h3 Little Actions that Save You and Our World
        h1 Do This Instead
      span.Details What Can I Do Right Now?
    div.NavButtons
      a(href="/user")
          div.NavButton Actions!